/* CSS LAYOUT */

.timer-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f2b950; 
  background-image: linear-gradient(45deg, #f2b950, #e55e5e); 
  min-height: 100vh;
}

navbar {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.separator {
  margin: 0 10px;
  border: none;
  border-right: 1px solid #fff;
  height: 25px;
}

.settings-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.timer {
  font-size: 96px;
  font-weight: bold;
  margin: 20px 0;
  border: 6px solid #fff;
  border-radius: 50%;
  padding: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  background-color: rgba(255, 255, 255, 0.1); 
}

.timer-buttons button {
  background-color: #e55e5e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.timer-buttons button:hover {
  background-color: #f27575;
}

.settings-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.settings-modal h2 {
  font-size: 24px;
  display: flex;
  margin-right: 20px;
  text-transform: uppercase;
  color: #fff;
}

.settings-modal input[type="number"] {
  width: 20%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #f2b950;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #333; 
}

.settings-modal .confirm-button,
.settings-modal .close-button {
  background-color: #f2b950;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.settings-modal .confirm-button:hover,
.settings-modal .close-button:hover {
  background-color: #e55e5e;
}

.close-button {
  background-color: #f27575;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.close-button:hover {
  background-color: #e55e5e;
}
